.Forecast1Day {
    display: flex;
    height: 240px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    margin: 1px;
    background: rgba(255, 251, 255, 0.5);


}
.weather-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weather-temperatura {
    color: gray;
    padding-right: 10px;
}